name: Build Athena Firmware
run-name: Build Athena - ${{ env.MODEL }}

on:
  push:
    branches: [master]   # push 到 master 自动触发
  workflow_dispatch:     # 手动触发也可

env:
  MODEL: jdcloud_ipq60xx_libwrt_athena_homeproxy
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Free disk space
      uses: sbwml/actions@free-disk

    - name: Set Build Date and Timezone
      run: |
        sudo timedatectl set-timezone "Asia/Shanghai"
        export BUILD_DATE=$(TZ=UTC-8 date +"%y.%m.%d_%H.%M.%S")
        echo "BUILD_DATE=$BUILD_DATE" >> $GITHUB_ENV

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential git-core libncurses5-dev zlib1g-dev gawk gcc-multilib flex gettext unzip \
          python3-dev python3-setuptools python3-venv rsync wget file libssl-dev subversion \
          dos2unix libfuse-dev

    - name: Prepare Athena Config
      run: |
        cp deconfig/jdcloud_ipq60xx_libwrt_athena_homeproxy.config .config
        scripts/diffconfig.sh > .config

    - name: Update feeds
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Build Firmware
      run: |
        make defconfig
        make -j$(nproc) V=s

    - name: Upload Firmware
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.BUILD_DATE }}_athena_homeproxy
        path: bin/targets/qualcommax/ipq60xx/*.bin